/*ENG Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Momo+Signature&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

:root {
    --font-fa-01: "Roboto" , sans-serif;
    --font-fa-02: "Momo Signature" ,cursive, sans-serif;
    --font-fa-03: "Fire Sans" , sans-serif;

    --fo-size-01: 14px;
    --fo-size-02: 18px;
    --fo-size-03: 22px;
    --fo-size-04: 26px;

    --color-00: rgba(0, 0, 0, 0.9);
    --color-01: black;
    --color-02: white;
    --color-03: wheat;
    --color-04: rgba(0, 0, 0, 0.7);
    --color-05: rgb(164, 255, 28);
    --color-06: rgb(206, 246, 254);
    --color-07: rgb(255, 72, 0);
    --color-08: rgba(255, 255, 255, 0.55);
    --color-09: brown;
    
    --padding-01: 5px 20px;
    
    --box-shadow-01: 2px 3px 5px wheat;
    --box-shadow-02: 5px 8px 9px rgb(82, 82, 82);
    --box-shadow-03: 2px 3px 5px rgb(65, 65, 65);
    
    --border-radius-circel: 50%;
    --border-radius-01: 20px;
    --border-radius-02: 40px;

    --max-hight: 100vh;

    --border: 2px solid red;
    --border-01: 1px solid orangered;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-fa-01);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 150px;
}

.section-titel {
    /*margin: 35px 0;*/
    text-align: center;
    text-transform: uppercase;
    padding-top: 75px;
    font-size: var(--fo-size-04);
    font-weight: 600;
    color: var(--color-09);
}
/*make underline effect for section section*/
.section-titel::after {
    content: "";
    width: 120px;
    height: 5px;
    display: block;
    border-radius: var(--border-radius-01);
    margin: 10px auto 0;
    background-color:var(--color-01);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color:var(--color-00); 
}

.header-container .logo .logo-text {
    font-family: var(--font-fa-02);
    font-size: var(--fo-size-04);
    color: var(--color-05);
}

.header-container .nav-container .nav-items {
    display: flex;
    gap: 15px;
    color: var(--color-02);
}

.header-container .nav-container .nav-items .nav-link {
    width: 90px;
    text-align: center;
    font-family: var(--font-fa-01);
    padding: var(--padding-01);
    border-radius:var(--border-radius-01);
    box-shadow: var(--box-shadow-01);
    background-color: var(--color-01);
    color: var(--color-02);
    transition: all 0.7s;
}

.header-container .nav-container .nav-items .nav-link:hover {
    box-shadow: none;
    color: var(--color-01);
    background-color: var(--color-02);
}

main .intro-section {
    height: var(--max-hight);
    padding-top: 100px;
    background-image: url(../Ressurs/Image/cute-astronaut-decks.jpg);
    background-position: center;
    background-size:cover ;
}

main .intro-section .intro-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
    height: auto;
    margin: 100px 115px;
    padding: var(--padding-01);
    background-color: var(--color-08);
    border-radius: var(--border-radius-01);
}

main .intro-section .intro-text h3 {
    font-family: var(--font-fa-01);
    font-size: var(--fo-size-03);
    font-weight: 600;
    color: var(--color-01);
}

main .intro-section .intro-text p {
    font-family: var(--font-fa-03);
    font-size: var(--fo-size-02);
    color: var(--color-04);
    line-height: 30px;
}

main .home-section {
    height: var(--max-hight);
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    row-gap: 10px;
    background-color: var(--color-03);
    padding: 0 50px;
}

main .home-section .home-section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

main .home-section .home-section-container .home-section-parts{
    width: 30%;
    height: 70vh;
    padding: 30px;
    background-color: var(--color-02);
    border-radius: var(--border-radius-02);
    box-shadow: var(--box-shadow-02);
    opacity: 0.85;
    border: var(--border);
}

main .home-section .home-section-container .home-section-parts .list-p {
    line-height: 30px;
}

main .home-section .home-section-container .home-section-parts h2 {
    margin: 20px 0;
    color: var(--color-07);
}

main .home-section .home-section-container .home-section-parts p {
    line-height: 38px;
}

main .home-section .home-section-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

main .home-section .home-section-social img {
    margin-bottom: 20px;
    width: 25px;
    border-radius: var(--border-radius-circel);
    transition: all 0.7s;
}

main .home-section .home-section-social img:hover {
    transform: scale(1.5);
}

main .project {
    height: var(--max-hight);
    background-color: var(--color-06);
}

main .project-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87%;
}

main .project .screen {
    display: none;
}

main .project .screen.active {
    display:contents;
}

main .project .project-section-explanation {
    display: grid;
    grid-template-rows: 1fr 50px;
    padding: 20px 40px;
    width: 30%;
    height: 50%;
    background-color: var(--color-04);
    color: var(--color-05);
    border-radius: var(--border-radius-02);
    box-shadow: var(--box-shadow-02);
    font-size: var(--fo-size-02);
    line-height: 30px;
    border: var(--border);
}

main .project .project-section-explanation .project-btn {
    position: relative;
    left: 35%;
    bottom: 5%;
    width: 150px;
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius-02);
    background-color: var(--color-06);
    color: var(--color-07);
    font-size: var(--fo-size-02);
    box-shadow: var(--box-shadow-01);
    transition: all 0.5s;
}

main .project .project-section-explanation .project-btn:hover  {
    box-shadow: none;
    background-color: var(--color-03);
    color: var(--color-01);
}

main .project-screen .project-section {
    display: flex;
    align-items: center;
    width: 90%;
    height: 90%;
    background-color: var(--color-02);
    border-radius: var(--border-radius-02);
    box-shadow: var(--box-shadow-02);    
}

main .project-screen .project-section .project-nav {
    display: none;
}

main .project-screen .project-section .project-show {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 30px;
    padding: 20px 40px;
    width: 80%;
    height: 80%;
    background-color: var(--color-03);
    border-radius: var(--border-radius-02);
    box-shadow: var(--box-shadow-02);
}

main .project-screen .project-section .project-show h3 {
    text-align: center;
    font-size: var(--fo-size-04);
    text-decoration: underline black;
    margin-bottom: 20px;
    color: var(--color-07);
}

main .project-screen .project-section .project-show p {
    text-align: left;
    width: 20vh;
    line-height: 30px;
    font-size: var(--fo-size-02);
    color: var(--color-09);
}

main .project-screen .project-section .project-show .project-interaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

main .project-screen .project-section .project-show .project-interaction img {
    width: 80%;
    border-radius: var(--border-radius-01);
    box-shadow: var(--box-shadow-02);
}

main .project-screen .project-section .project-show .project-interaction a {
    margin: 0 10px;
    padding: 20px 40px;
    background-color: var(--color-01);
    color: var(--color-03);
    border-radius: var(--border-radius-02);
    box-shadow: var(--box-shadow-03);
    transition: all 0.6s;
}

main .project-screen .project-section .project-show .project-interaction a:hover{
    box-shadow: none;
    color: var(--color-07);
    background-color: var(--color-03);
    border: var(--border-01);
}

main .project-screen .project-section .img {
    margin: 0 15px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

main .project-screen .project-section .img img {
    width: 60%;
}


/*responsiv layout for phone screen*/

@media screen and (max-width:1024px){

}

@media screen and (max-width:900px){
    main .intro-section{
        background-image: url(/Ressurs/Image/cute-astronaut-tablet.jpg);
    }
}

@media screen and (max-width:640px){
    :root {
        --font-fa-01: "Roboto" , sans-serif;
        --font-fa-02: "Momo Signature" ,cursive, sans-serif;
        --font-fa-03: "Fire Sans" , sans-serif;

        --fo-size-01: 14px;
        --fo-size-02: 18px;
        --fo-size-03: 22px;
        --fo-size-04: 26px;

        --color-00: rgba(0, 0, 0, 0.9);
        --color-01: black;
        --color-02: white;
        --color-03: wheat;
        --color-04: rgba(0, 0, 0, 0.7);
        --color-05: rgb(164, 255, 28);
        --color-06: rgb(206, 246, 254);
        --color-07: rgb(255, 72, 0);
        --color-08: rgba(255, 255, 255, 0.55);
        --color-09: brown;
        
        --padding-01: 5px 20px;
        
        --box-shadow-01: 2px 3px 5px wheat;
        --box-shadow-02: 5px 8px 9px rgb(82, 82, 82);
        --box-shadow-03: 2px 3px 5px rgb(65, 65, 65);
        
        --border-radius-circel: 50%;
        --border-radius-01: 20px;
        --border-radius-02: 40px;

        --max-hight: 100vh;

        --border: 2px solid red;
        --border-01: 1px solid orangered;
    }

    .header-container .nav-container {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width:40%;
        border-radius: none;
        background-color: var(--color-03);
    }

    .header-container .nav-container .nav-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .header-container .nav-container .nav-items .nav-link {
        text-align: center;
        color: var(--color-07);
        background-color: var(--color-03);
        box-shadow: none;
        border-radius: none;
        font-size: var(--fo-size-02);
        margin: 10px 20px;
        padding: 10px 30px;
    }

    main .intro-section .intro-text {
        margin: 10px 20px;
    }

    main .intro-section .intro-text h3 {
        font-size: var(--fo-size-03);
    }
    
    main .intro-section .intro-text p {
        line-height: 20px;
        font-size: var(--fo-size-02);
    }

    main .intro-section {
        background-image: url(/Ressurs/Image/cute-astronaut-Phone.jpg);
    }

    main .home-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }

    main .home-section .home-section-container {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: flex-end;
        gap: 10px;
        padding: 0%;
    }
    main .home-section .home-section-container .home-section-parts{
        margin: 0%;
        flex:auto;
        width: 40vh;
        height: auto;
    }
    main .home-section .home-section-container .home-section-parts p,
    main .home-section .home-section-container .home-section-parts .list-p {
        line-height: 20px;
        font-size: var(--fo-size-01);
        padding-bottom: 0%;
        margin: 0;
    }
    main .home-section .home-section-container .home-section-parts h2 {
        margin: 0;
        color: var(--color-07);
    }

    main .home-section .home-section-container .home-section-parts .home-section-list {
        list-style-type:upper-roman;
    }

    main .home-section .home-section-container .home-section-parts .home-section-list h3 {
        margin: 5px 0;
    }

    main .project .project-section-explanation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 30vh;
    }

    main .project .project-section-explanation .project-btn {
        position: relative;
        left: 10px;
        bottom: 10px;
    }
    
    main .project-screen .project-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    main .project-screen .project-section .project-show {
        order: 2;
        display: flex;
        flex-direction: column;
        margin: 30px;
        width: 90%;
        height: 60vh;
    }

    main .project-screen .project-section .img {
        order: 3;
        display: inline-flex;
        align-items: center;
        margin: 5px 10px;
    }

    main .project-screen .project-section .img img {
        margin: 0;
        width: 20%;
    }

    main .project-screen .project-section .project-show .project-interaction img {
        margin: 0%;
        width: 70%;
    }
    
    main .project-screen .project-section .project-show .project-interaction a {
        padding: 10px 20px;
    }

}