/*ENG Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Momo+Signature&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

:root {
    --font-fa-01: "Roboto" , sans-serif;
    --font-fa-02: "Momo Signature" ,cursive, sans-serif;
    --font-fa-03: "Fire Sans" , sans-serif;

    --fo-size-01: 14px;
    --fo-size-02: 18px;
    --fo-size-03: 22px;
    --fo-size-04: 26px;

    --color-00: rgba(0, 0, 0, 0.9);
    --color-01: black;
    --color-02: white;
    --color-03: wheat;
    --color-04: rgba(0, 0, 0, 0.7);
    --color-05: rgb(164, 255, 28);
    --color-06: rgb(206, 206, 206);
    --color-07: rgb(255, 72, 0);
    --color-08: rgba(255, 255, 255, 0.55);
    --color-09: brown;
    
    --padding-01: 5px 20px;
    
    --box-shadow-01: 2px 3px 5px wheat;
    --box-shadow-02: 5px 8px 9px rgb(82, 82, 82);
    --box-shadow-03: 2px 3px 5px rgb(65, 65, 65);
    
    --border-radius-circel: 50%;
    --border-radius-01: 20px;
    --border-radius-02: 40px;

    --max-hight: 100vh;

    --border: 2px solid red;
    --border-01: 1px solid orangered;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-fa-01);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 150px;
}

.section-titel {
    /*margin: 35px 0;*/
    text-align: center;
    text-transform: uppercase;
    padding-top: 75px;
    font-size: var(--fo-size-04);
    font-weight: 600;
    color: var(--color-09);
}
/*make underline effect for section section*/
.section-titel::after {
    content: "";
    width: 120px;
    height: 5px;
    display: block;
    border-radius: var(--border-radius-01);
    margin: 10px auto 0;
    background-color:var(--color-01);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color:var(--color-00); 
}

.header-container .logo .logo-text {
    font-family: var(--font-fa-02);
    font-size: var(--fo-size-04);
    color: var(--color-05);
}

.header-container .menu-btn {
    display: none;
}

.header-container .nav-container .nav-items .close-btn {
    display: none;
}

.header-container .nav-container .nav-items {
    display: flex;
    gap: 15px;
    color: var(--color-02);
}

.header-container .nav-container .nav-items .nav-link {
    width: 90px;
    text-align: center;
    font-family: var(--font-fa-01);
    padding: var(--padding-01);
    border-radius:var(--border-radius-01);
    box-shadow: var(--box-shadow-01);
    background-color: var(--color-01);
    color: var(--color-02);
    transition: all 0.7s;
}

.header-container .nav-container .nav-items .nav-link:hover {
    box-shadow: none;
    color: var(--color-01);
    background-color: var(--color-02);
}

main .intro-section {
    height: var(--max-hight);
    padding-top: 100px;
    background-image: url(../Ressurs/Image/cute-astronaut-decks.jpg);
    background-position: center;
    background-size:cover ;
}

main .intro-section .intro-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
    height: auto;
    margin: -20px 15px;
    padding: var(--padding-01);
    background-color: var(--color-08);
    border-radius: var(--border-radius-01);
}

main .intro-section .intro-text h3 {
    font-family: var(--font-fa-01);
    font-size: var(--fo-size-03);
    font-weight: 600;
    color: var(--color-01);
}

main .intro-section .intro-text p {
    font-family: var(--font-fa-03);
    font-size: var(--fo-size-02);
    color: var(--color-04);
    line-height: 30px;
}

main .home-section {
    height: var(--max-hight);
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    row-gap: 10px;
    background-color: var(--color-03);
    padding: 0 50px;
}

main .home-section .home-section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

main .home-section .home-section-container .home-section-parts{
    width: 30%;
    height: 70vh;
    padding: 30px;
    background-color: var(--color-02);
    border-radius: var(--border-radius-02);
    box-shadow: var(--box-shadow-02);
    border: var(--border);
}

main .home-section .home-section-container .home-section-parts .list-p {
    line-height: 30px;
}

main .home-section .home-section-container .home-section-parts h2 {
    margin: 20px 0;
    color: var(--color-07);
}

main .home-section .home-section-container .home-section-parts p {
    line-height: 38px;
}

main .home-section .home-section-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

main .home-section .home-section-social img {
    margin-bottom: 20px;
    width: 30px;
    border-radius: var(--border-radius-circel);
    transition: all 0.7s;
}

main .home-section .home-section-social img:hover {
    transform: scale(1.5);
}

main .project {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
    height: var(--max-hight);
    background-color: var(--color-06);
}

main .project-screen {
    display: flex;
    flex-direction: column;
    height: var(--max-hight);
}

main .project .screen {
    display: none;
}

main .project .screen.active {
    display:block;
    height: 90%;
    justify-items: center;
}

main .project .project-section-explanation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    width: 30%;
    height: 50%;
    background-color: var(--color-04);
    color: var(--color-05);
    border-radius: var(--border-radius-02);
    box-shadow: var(--box-shadow-02);
    font-size: var(--fo-size-02);
    line-height: 28px;
    border: var(--border);
}

main .project .project-section-explanation .project-btn {
    width: 50%;
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius-02);
    background-color: var(--color-03);
    color: var(--color-07);
    font-size: var(--fo-size-02);
    box-shadow: var(--box-shadow-01);
    transition: all 0.5s;
}

main .project .project-section-explanation .project-btn:hover  {
    box-shadow: none;
    background-color: var(--color-03);
    color: var(--color-01);
}

main .project .project-screen .screen .project-section {
    display: flex;
    justify-content: space-between;
    height: 90vh;
}

main .project .project-screen .project-section .project-nav .img {
    display: none;
}

main .project-screen .project-section .project-show {
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 80%;
    background-color: var(--color-03);
    border-radius: var(--border-radius-02);
    box-shadow: var(--box-shadow-02);
}

main .project-screen .project-section .project-show .project-show-part-text {
    margin: 40px;
    width: 30%;
}

main .project-screen .project-section .project-show .project-show-part-text h3 {
    font-size: var(--fo-size-04);
    text-align: center;
    text-decoration: underline black;
    margin-bottom: 20px;
    color: var(--color-07);
}

main .project-screen .project-section .project-show .project-show-part-text p {
    text-align: left;
    line-height: 35px;
    font-size: var(--fo-size-02);
    font-weight: 500;
    color: var(--color-09);
}

main .project-screen .project-section .project-show .project-show-part-eye {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

main .project-screen .project-section .project-show img {
    margin-top: 30px;
    width: 65%;
    border-radius: var(--border-radius-01);
    box-shadow: var(--box-shadow-02);
}

main .project-screen .project-section .project-show a {
    margin: 20px;
    padding: 13px 30px;
    box-shadow: var(--box-shadow-03);
    border-radius: var(--border-radius-02);
    color: var(--color-03);
    background-color: var(--color-01);
    transition: all 0.6s;
}

main .project-screen .project-section .project-show a:hover{
    box-shadow: none;
    color: var(--color-07);
    background-color: var(--color-03);
    border: var(--border-01);
}

main .project-screen .project-section .img {
    margin: 30px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

main .project-screen .project-section .img img {
    width: 110px;
}


/*responsiv layout for phone screen*/

@media screen and (max-width:1024px){

}

@media screen and (max-width:900px){
    main .intro-section{
        background-image: url(/Ressurs/Image/cute-astronaut-tablet.jpg);
    }
}

@media screen and (max-width:800px){
    :root{
        --font-fa-01: "Roboto" , sans-serif;
        --font-fa-02: "Momo Signature" ,cursive, sans-serif;
        --font-fa-03: "Fire Sans" , sans-serif;

        --fo-size-01: 12px;
        --fo-size-02: 14px;
        --fo-size-03: 16px;
        --fo-size-04: 18px; 
    }

    .header-container {
        display: flex;
        justify-content: space-between;
    }
    
    .header-container .menu-btn {
        display: block;
        background-color: transparent;
        border: none;
    }
    
    .header-container .menu-btn img{
        width: 35px;
    }
    
    .header-container .nav-container .nav-items .close-btn {
        display: block;
        margin-bottom: 50px;
    }
    
    .header-container .nav-container .close-btn img {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 30px;
    }

    .header-container .nav-container {
        display: block;
        position: fixed;
        top: 0;
        left: -40%;
        bottom: 0;
        width: 40%;
        border-radius: none;
        background-color: var(--color-03);
        transition: all 0.7s;
    }

    body.show-menu .header-container .nav-container {
        left: 0;
    }

    .header-container .nav-container .nav-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .header-container .nav-container .nav-items .nav-link {
        margin: 10px 20px;
        padding: 10px 0;
        box-shadow: none;
        border-radius: none;
        font-size: var(--fo-size-02);
        color: var(--color-07);
        background-color: var(--color-03);
    }

    main .intro-section {
        background-image: url(/Ressurs/Image/cute-astronaut-Phone.jpg);
    }

    main .intro-section .intro-text {
        display: block;
        width: 280px;
        margin: -90px 10px;
    }

    main .intro-section .intro-text h3 {
        margin: 5px;
        font-size: var(--fo-size-03);
    }
    
    main .intro-section .intro-text p {
        line-height: 25px;
        font-size: var(--fo-size-01);
    }

    main .home-section .home-section-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 80px 0;
        padding: 0;
    }

    main .home-section .home-section-container .home-section-parts {
        margin: 0;
        padding: 15px 15px;
        width: 100%;
        height: 100%;
    }

    main .home-section .home-section-container .home-section-parts.row {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    main .home-section .home-section-container .home-section-parts h2 {
        font-size: var(--fo-size-04);
    }

    main .home-section .home-section-container .home-section-parts p {
        font-size: var(--fo-size-02);
        font-weight: 500;
        line-height: 23px;
    }
    main .home-section .home-section-container .home-section-parts .home-section-list .list {
        list-style: none;
    }

    main .home-section .home-section-container .home-section-parts .home-section-list .list h3 {
        font-size: var(--fo-size-03);
        text-decoration: underline solid red;
        margin:8px 0;
    }

    main .home-section .home-section-container .home-section-parts .home-section-list .list .list-p {
        font-size: var(--fo-size-02);
        line-height: 20px;
        margin-left: 8px;
    }

    main .project .project-section-explanation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: var(--fo-size-03);
        width: 50%;
    }

    main .project .project-screen .screen .project-section .img {
        display: none;
    }

    main .project .project-screen .project-section {
        display: flex;
        flex-direction: column;
    }

    main .project .project-screen .screen .project-section .project-show {
        display: flex;
        flex-direction: column;
    }

    main .project-screen .project-section .project-show .project-show-part-text {
        flex: 1;
        width: 75%;
        margin: 10px auto;
    }

    main .project-screen .project-section .project-show .project-show-part-eye {
        flex: 7;
        gap: 30px;
    }

    main .project-screen .project-section .project-show img{
        width: 50%;
        margin: 0 40px;
    }

    main .project .project-screen .project-section .project-nav .img {
        display: inline;
        position: relative;
        bottom: 50px;
        left: 32%;
    }
    
    main .project .project-screen .project-section .project-nav .img img {
        width: 80px;
    }
}

@media screen and (max-width:640px){
    :root {
        --fo-size-01: 12px;
        --fo-size-02: 14px;
        --fo-size-03: 16px;
        --fo-size-04: 18px;

        --color-00: rgba(0, 0, 0, 0.9);
        --color-01: black;
        --color-02: white;
        --color-03: wheat;
        --color-04: rgba(0, 0, 0, 0.7);
        --color-05: rgb(164, 255, 28);
        --color-06: rgb(206, 206, 206);
        --color-07: rgb(255, 72, 0);
        --color-08: rgba(255, 255, 255, 0.55);
        --color-09: brown;
        
        --max-hight: 100vh;

        --border: 2px solid red;
        --border-01: 1px solid orangered;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
    }
    
    .header-container .menu-btn {
        display: block;
        background-color: transparent;
        border: none;
    }
    
    .header-container .menu-btn img{
        width: 35px;
    }
    
    .header-container .nav-container .nav-items .close-btn {
        display: block;
        margin-bottom: 50px;
    }
    
    .header-container .nav-container .close-btn img {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 30px;
    }

    .header-container .nav-container {
        display: block;
        position: fixed;
        top: 0;
        left: -40%;
        bottom: 0;
        width: 40%;
        border-radius: none;
        background-color: var(--color-03);
        transition: all 0.7s;
    }

    body.show-menu .header-container .nav-container {
        left: 0;
    }

    .header-container .nav-container .nav-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .header-container .nav-container .nav-items .nav-link {
        margin: 10px 20px;
        padding: 10px 0;
        box-shadow: none;
        border-radius: none;
        font-size: var(--fo-size-02);
        color: var(--color-07);
        background-color: var(--color-03);
    }
    
    main .intro-section {
        background-image: url(/Ressurs/Image/cute-astronaut-Phone.jpg);
    }

    main .intro-section .intro-text {
        display: block;
        width: 280px;
        margin: -90px 10px;
    }

    main .intro-section .intro-text h3 {
        margin: 5px;
        font-size: var(--fo-size-03);
    }
    
    main .intro-section .intro-text p {
        line-height: 25px;
        font-size: var(--fo-size-01);
    }

    main .home-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    main .home-section .home-section-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 0;
        padding: 0;
    }

    main .home-section .home-section-container .home-section-parts{
        flex:auto;
        width: 90%;
        height: auto;
        margin: 0;
        padding: 10px 25px;
    }

    main .home-section .home-section-container .home-section-parts p,
    main .home-section .home-section-container .home-section-parts .list-p {
        line-height: 20px;
        font-size: var(--fo-size-01);
        padding-bottom: 0;
        margin: 0;
    }
    
    main .home-section .home-section-container .home-section-parts h2 {
        margin: 0;
        color: var(--color-07);
    }

    main .home-section .home-section-container .home-section-parts .home-section-list {
        list-style-type:upper-roman;
    }

    main .home-section .home-section-container .home-section-parts .home-section-list h3 {
        margin: 5px 0;
    }

    main .project .project-section-explanation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: var(--fo-size-03);
        width: 80%;
    }

    main .project .project-section-explanation .project-btn {
        font-size: var(--fo-size-03);      
    }
    
    main .project .project-screen .screen .project-section .img {
        display: none;
    }

    main .project .project-screen .project-section {
        display: flex;
        flex-direction: column;
    }

    main .project .project-screen .screen .project-section .project-show {
        display: flex;
        flex-direction: column;
    }

    main .project-screen .project-section .project-show .project-show-part-text {
        flex: 1;
        width: 95%;
        margin: 20px;
    }

    main .project-screen .project-section .project-show .project-show-part-text h3 {
        font-size: var(--fo-size-04);
    }

    main .project-screen .project-section .project-show .project-show-part-text p {
        font-size: var(--fo-size-03);
        line-height: 25px;
        height: auto;
    }
    
    main .project-screen .project-section .project-show .project-show-part-eye {
        flex: 7;
        gap: 30px;
    }

    main .project-screen .project-section .project-show img{
        width: 400px;
        margin: 0 40px;
    }

    main .project .project-screen .project-section .project-nav .img {
        display: inline;
        position: relative;
        bottom: 50px;
        left: 20%;
    }
    
    main .project .project-screen .project-section .project-nav .img img {
        width: 80px;
    }
}