<<<<<<< HEAD
body {
  background-color: gray;
}
.cart {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: max-content;
  background-color: black;
  border-radius: 3%;
}
.cart img {
  width: 250px;
  height: 350px;
  padding: 10px 30px  30px 30px;
  border-radius: 25%;
}
button {
  width: 150px;
  border-radius: 50px;
  padding: 10px 0 10px 0;
  background-color: yellow;
  border: 1px solid black;
  box-shadow: 3px 3px 5px rgb(179, 179, 179);
}

button:hover {
  box-shadow: none;
  border: 2px solid yellow;
  background-color: black;
  color: yellow;
  transition: all 0.6s;
}

.quantity {
  position: absolute;
  top: 15px;
  right: 15px;
}
.oparetion button{
  margin: 10px 25% 10px 25%;
}
.oparetion select {
  margin: 10px 0% 10px 39%;
  padding: 10px 5px 10px 5px;
  border-radius: 25px;
  background-color: rgb(153, 205, 50);
  box-shadow: 3px 3px 5px rgb(179, 179, 179);
}
select:hover {
  background-color: black;
  color: yellowgreen;
  border: 2px solid yellow;
=======
body {
  background-color: gray;
}
.cart {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: max-content;
  background-color: black;
  border-radius: 3%;
}
.cart img {
  width: 250px;
  height: 350px;
  padding: 10px 30px  30px 30px;
  border-radius: 25%;
}
button {
  width: 150px;
  border-radius: 50px;
  padding: 10px 0 10px 0;
  background-color: yellow;
  border: 1px solid black;
  box-shadow: 3px 3px 5px rgb(179, 179, 179);
}

button:hover {
  box-shadow: none;
  border: 2px solid yellow;
  background-color: black;
  color: yellow;
  transition: all 0.6s;
}

.quantity {
  position: absolute;
  top: 15px;
  right: 15px;
}
.oparetion button{
  margin: 10px 25% 10px 25%;
}
.oparetion select {
  margin: 10px 0% 10px 39%;
  padding: 10px 5px 10px 5px;
  border-radius: 25px;
  background-color: rgb(153, 205, 50);
  box-shadow: 3px 3px 5px rgb(179, 179, 179);
}
select:hover {
  background-color: black;
  color: yellowgreen;
  border: 2px solid yellow;
>>>>>>> 74f9fd5f165044ef486b804e8132dd11c2dcf73a
}