body {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

#question {
  font-size: large;
}

#answers {
  padding: 10px;
  font-weight: bold;
}

#score {
  font-size: 1.5em;
}

button {
  font-size: 1.5em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: white;
  padding: 0.2em;
  border-radius: 10px;
  border-width: 3px;
}

.questionCard {
  width: 80%;
  margin: auto;
  padding: 10px;
  background-color: lightgray;
  border-radius: 10px;
}